@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.highscore, h2{
    font-family: 'VT323', monospace;
    font-size: 80px;
    text-align: center;
    position: relative;
    margin-bottom: -15px;
}

.block_holder {
    background-color: rgba(245, 245, 245, 0.485);
    width:500px;
    height: 450px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10%;
}

iframe {
    border: transparent;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin: 0px auto;
}

h4 {
    text-align: center;
    display: block;
    text-align-last: center;
    font-family: 'VT323', monospace;
    font-size: 30px;
    margin-bottom: 0;
}

.playName, .playScore {
    text-align-last: center;
    font-family: 'VT323', monospace;
    font-size: 22px;
    margin: 0px auto;
    display: flex;
    justify-content: center;

}

.playScore {
    float: left;
    animation: score_color 3s infinite;
}
  
@keyframes score_color {
    0% { color: rgb(185, 0, 0); }
    25% { color: rgb(212, 106, 0); }
    50% { color: rgb(0, 144, 31); }
    75% { color: rgb(164, 0, 193); }
    100% { color: rgb(185, 0, 0); }
}